### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import pandas as pd
#import csv

# File to Load (Remember to Change These)
purchase_csv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_csv, encoding="utf-8")

purchase_data_df.head()
#purchase_data_df.tail()
#purchase_data.columns

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
purchase_data_df.describe()
#purchase_data_df.count()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [21]:
UniqPlayers = purchase_data_df["SN"].nunique()
Total_Players_DF = pd.DataFrames({"Total Players":UniqPlayers}) 
Total_Players_DF.head()

AttributeError: module 'pandas' has no attribute 'DataFrames'

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
UniqItems = purchase_data_df["Item Name"]
#UniqItems.nunique()
#print(len(UniqItems.value_counts()))
UniqItemCount = (len(UniqItems.value_counts()))
print(UniqItemCount)

#UniqItemID = purchase_data_df["Item ID"]
#UniqItemID.nunique()
#print(len(UniqItemID.value_counts()))


AvgPrice = round(purchase_data_df["Price"].mean(),2)
#purchase_data_df["Average Price"] = AvgPrice
print(f'${AvgPrice}')

PurchaseCount = purchase_data_df["Purchase ID"].value_counts()
print(len(PurchaseCount))

PurchaseTotal = purchase_data_df["Price"].sum()
#purchase_data_df["Total Revenue"] = PurchaseTotal
print(f'${PurchaseTotal}')

179
$3.05
780
$2379.77

In [ ]:
cleaned_df = purchase_data_df[[ ]]

In [ ]:
Summary_df = pd.DataFrame({"Number of Unique Items": [author_count],

                           
                           
Number of Unique Items	Average Price	Number of Purchases	Total Revenue
#purchase_data.head()
                           
                           
#Purchase ID	SN	Age	Gender	Item ID	Item Name	Price
#Purchase ID	SN	Age	Gender	Item ID	Item Name	Price
UniqItemCount              AvgPrice             PurchaseCount     PurchaseTotal    
#Number of Unique Items	  Average Price	  Number of Purchases	  Total Revenue

#summary_df = pd.DataFrame({"Total Unique Authors": [author_count],

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
count = data_file_df["Gender"].value_counts()
count


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame